.container2 {
    border: 1px solid black;
    box-shadow: 4px 4px 3rem;
    font-size: x-large;
    padding: 3rem;
    border-radius: 1.5rem;
    margin: 5rem;
}

.container-texto {
    font-size: xx-large;
    padding-left: 2rem;
    padding-right: 2rem;
}

.relato {
    font-style: italic;
    font-size: 1.6rem;
    letter-spacing: -2px;
}

.marca {
    text-decoration: underline;
    transition: .4s;
}

.marca:hover {
    color: rgb(0, 108, 224);
    text-shadow: 3px 3px 2rem;
    text-decoration: none;
}

.nav-link:hover {
    font-size: 1.9rem;
    font-weight: bolder;
}

.a8 {
    color: #001797;
    transition: .4s;
    font-weight: bold;
}

.a8:hover{
    color: white;
    text-decoration: none;
}

/*Footer*/

* {
    margin: 0px;
    padding: 0px;
}

.logo-home {
    width: 90px;
    height: 90px;
}

.logo{
    padding-top: 40px;
    width: 160px;
    height: 190px;
}

.rodaPé {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #001797;
    min-height: 20rem;
    color: white;
    font-size: 1.3rem;
}

.footerMenu {
    padding-left: 40rem;
}

.menu {
    padding-top: 60px;
    font-size: 1.8rem;
    padding-bottom: 10px;
}

.contato {
    padding-top: 60px;
    font-size: 1.8rem;
}

/*links*/

.a2 {
    transition: 0.5s;
    margin-top: 3%;
    text-decoration: none;
    color: #212529;
    padding-right: 30px;
    font-weight: 600;
    font-size: 1.5rem;
}

.a2:hover {
    color: antiquewhite;
    transition: 0.5s;
    text-decoration: none;
    text-shadow: 3px 3px 3rem;
}

.a3 {
    color: #212529;
    font-size: 1.3rem;
    transition: .3s;
}

.a3:hover {
    text-decoration: none;
    color: antiquewhite;
    font-weight: 500;
    font-size: 1.5rem;
}

.a4 {
    color: #212529;
    font-size: 1.3rem;
    transition: .3s;
}

.a4:hover {
    text-decoration: none;
    color: antiquewhite;
    font-weight: 500;
    text-shadow: 2px 2px 3rem;
}


/*img*/

.copyright {
    background-color: #00559b;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.p4 {
    padding-top: 20px;
    font-size: 1.2rem;
}

.img9 {
    padding-top: 50px;
    padding-left: 15px;
}

.bg-lprimary {
    background-color: #368ed6;
}

.bg-dprimary {
    background-color: #95969c5d;
}

.col-md-3 div {
    border: .5px solid rgb(1, 1, 1);
    border-radius: .5rem;
    background-color: #70a7d4;
    padding-top: 1.2rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.espaçamento {
    margin-left: 15rem;
}

@media (min-width: 1000px) {
    footer img {
        height: 100px;
    }
}

@media (min-width: 650px) {
    .carousel-item {
        height: 500px;
    }
    .carousel-caption p {
        font-size: 1.3rem;
    }
    .carousel-caption h5 {
        font-size: 2rem;
    }
}

@media (min-width: 350px) {
    .carousel-caption h5 {
        font-size: 2.3rem;
    }
    .carousel-caption p {
        font-size: 1.7rem;
    }
    footer {
        font-size: 1.7rem;
    }
    .phone span {
        font-size: 1rem;
    }
    .footer h6 {
        font-size: 1.8rem;
    }
}