body {
    background-color: rgb(254, 254, 254);
    font-family: 'Playfair Display', serif;
}

.tradicional {
    color: white;
    border: 1px solid black;
    box-shadow: 3px 3px 5rem rgb(0, 162, 255);
    background-color: rgb(0, 129, 203);
    border-radius: 1em;
    padding-top: 10px;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 2em;
    font-size: x-large;
    margin: 4.4rem;
}

.marcas {
    
    box-shadow: 3px 3px 2rem;
    background-color: rgb(216, 216, 216);
    border-radius: 1em;
    font-size: xx-large;
    margin: 4.4rem;
}

.marcas-texto {
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 2em;
    padding-top: 2rem;
}

.empresas {
    width: 75rem;
    height: 65rem;
}

.container-nav {
    border: 2px solid;
    border-radius: 1rem;
    background-color: rgb(35, 105, 255);
    padding-left: 2rem;
    padding-bottom: 1rem;
    font-size: x-large;
    margin: 4.4rem;
    color: white;
}

.link {
    text-decoration: none;
    color: white;
    transition: .3s;
}

.link:hover {
    color: rgb(0, 3, 182);
    text-shadow: 4px 3px 5px;
}

.titulo {
    margin-top: 3rem;
    text-align: center;
}

.split {
    text-shadow: 4px 3px 5px rgb(0, 21, 255);
}

html {
    scroll-behavior: smooth;
  }
  
 nav:target {
    scroll-margin-top: .8em;
}

.container2 {
    border: 1px solid black;
    box-shadow: 4px 4px 3rem;
    font-size: x-large;
    padding: 3rem;
    border-radius: 1.5rem;
    margin: 5rem;
}

.container-texto {
    font-size: xx-large;
    padding-left: 2rem;
    padding-right: 2rem;
}

.relato {
    font-style: italic;
    font-size: 1.6rem;
    letter-spacing: -2px;
}

.marca {
    text-decoration: underline;
    transition: .4s;
}

.marca:hover {
    color: rgb(0, 108, 224);
    text-shadow: 3px 3px 2rem;
    text-decoration: none;
}

/*TEXTO DO CAROUSEL*/
.black {
    color: black;
}

.escolhido {
    color: black;
}

.tit_carousel {
    font-size: 30px;
    font-weight: 220;
}

.text_carousel {
    font-size: 30px;
    font-weight: 200;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.205);
    border-radius: 5px;
    /*cor da borda*/
    border-bottom: black;
    border-right: black;
    border-top: white;
    border-left: white;
    /*------------*/
    border-style: groove;
}
/*-----------------*/

.carousel-item {
    height: 820px;
}

.carousel-item img {
    width: 1920px;
    height: 920px;
}

/*BARRA DE NAVEGAÇÂO*/
nav {
    transition: 0.7s all;
    font-size: x-large;
}

nav:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

nav:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.nav-link {
    transition: all 0.7s;
}

.nav-link:hover {
    font-size: 1.9rem;
    font-weight: bolder;
}

.a8 {
    color: #001797;
    transition: .4s;
    font-weight: bold;
}

.a8:hover{
    color: white;
    text-decoration: none;
}

/*Footer*/

.a2 {
    transition: 0.5s;
    margin-top: 3%;
    text-decoration: none;
    color: #212529;
    padding-right: 30px;
    font-weight: 600;
    font-size: 1.5rem;
}

.a2:hover {
    color: antiquewhite;
    transition: 0.5s;
    text-decoration: none;
    text-shadow: 3px 3px 3rem;
}

.a3 {
    color: #212529;
    font-size: 1.3rem;
    transition: .3s;
}

.a3:hover {
    text-decoration: none;
    color: antiquewhite;
    font-weight: 500;
    font-size: 1.5rem;
}

.a4 {
    color: #212529;
    font-size: 1.3rem;
    transition: .3s;
}

.a4:hover {
    text-decoration: none;
    color: antiquewhite;
    font-weight: 500;
    text-shadow: 2px 2px 3rem;
}

/*img*/

.img9 {
    padding-top: 50px;
    padding-left: 15px;
}


.bg-lprimary {
    background-color: #368ed6;
}

.bg-dprimary {
    background-color: #95969c5d;
}

.col-md-3 div {
    border: .5px solid rgb(1, 1, 1);
    border-radius: .5rem;
    background-color: #70a7d4;
    padding-top: 1.2rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.espaçamento {
    margin-left: 15rem;
}

.copyright {
    background-color: #00559b;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.p4 {
    padding-top: 20px;
    font-size: 1.2rem;
}

@media (max-width: 1300px) {
    
    footer img {
        height: 100px;
    }

    .empresas {
        width: 65rem;
        height: 55rem;
    }
}

@media (max-width: 1100px) {

    .empresas {
        width: 55rem;
        height: 45rem;
    }
}

@media (max-width: 950px) {

    .empresas {
        width: 45rem;
        height: 35rem;
    }
}

@media (max-width: 790px) {

    .empresas {
        width: 35rem;
        height: 25rem;
    }
}

@media (max-width: 650px) {
    
    .carousel-caption p {
        font-size: 1.3rem;
    }
    .carousel-caption h5 {
        font-size: 2rem;
    }

    .empresas {
        width: 35rem;
        height: 25rem;
    }
}

@media (max-width: 640px) {

    .empresas {
        width: 23rem;
        height: 13rem;
    }
}

@media (max-width: 320px) {
    
    .carousel-caption h5 {
        font-size: 2.3rem;
    }
    .carousel-caption p {
        font-size: 1.7rem;
    }
    footer {
        font-size: 1.7rem;
    }
    .phone span {
        font-size: 1rem;
    }
    .footer h6 {
        font-size: 1.8rem;
    }

    .empresas {
        width: 17,5rem;
        height: 12,5rem;
    }
}