body {
    background-color: rgb(254, 254, 254);
    font-family: 'Playfair Display', serif;
}

.tradicional {
    color: white;
    border: 2px solid black;
    box-shadow: 3px 3px 5rem rgb(0, 162, 255);
    background-color: rgb(0, 129, 203);
    border-radius: 1em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 2em;
    font-size: x-large;
    margin: 4.4rem;
}

.marcas {
    border: 2px solid black;
    box-shadow: 3px 3px 2rem;
    background-color: rgb(216, 216, 216);
    border-radius: 1em;
    font-size: xx-large;
    margin: 4.4rem;
}

.marcas-texto {
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 2em;
}

.empresas {
    width: 70rem;
    height: 49rem;
}

.container-nav {
    border: 2px solid;
    border-radius: 1rem;
    background-color: rgb(35, 105, 255);
    padding-left: 2rem;
    padding-bottom: 1rem;
    font-size: x-large;
    margin: 4.4rem;
    color: white;
}

.link {
    text-decoration: none;
    color: white;
    transition: .3s;
}

.link:hover {
    color: rgb(0, 3, 182);
    text-shadow: 4px 3px 5px;
}

.titulo {
    margin-top: 3rem;
    text-align: center;
}

.split {
    text-shadow: 4px 3px 5px rgb(0, 21, 255);
}

html {
    scroll-behavior: smooth;
  }
  
 nav:target {
    scroll-margin-top: .8em;
}